.ccontainertabs {
    width: 500px;
    margin: 100px auto;
}
.ui-widget-header {
    background: none;
    border: none;
}
#tabs {
    border: none;
}
.ui-tabs .ui-tabs-panel {
    border: 1px solid lightgrey;
    border-radius: 2px;
    padding: 5% 10%;
}
.ui-state-default, .ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default, .ui-button,
html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background: steelblue;
    border: none;
}
.ui-state-active, .ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active, a.ui-button:active, 
.ui-button:active, .ui-button.ui-state-active:hover {
    background: lightseagreen;
}
.ui-state-default a, .ui-state-default a:link,
.ui-state-default a:visited, a.ui-button,
a:link.ui-button, a:visited.ui-button, .ui-button {
    color: white;
}

.container-fluid{ 
    padding:0 !important; 
} 
.col-xs-4{ 
    background:rgba(157,52,99,0.7);  
} 

.box{
    width: 500px;
  }
  
  textarea{
    width: 100%;
    height: 100px;
  }